
<div class="row">
  <div class="col-md-6">
    <form style="margin: 100px; width: 500px;">
      <h2 style="font-weight: bold"> Exemplo Login </h2>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" #email>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Senha</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password" #senha>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Rua Gregório Martins, 90" #endereco>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Endereço Secundário</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, Condomínio, 2° Endreço" #endereco_sec>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Cidade</label>
          <input type="text" class="form-control" id="inputCity" placeholder="Caruaru" #cidade>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Estado</label>
          <select id="inputState" class="form-control" #estado>
            <option selected>Pernambuco</option>
            <option>São Paulo</option>
            <option>Santa Catarina</option>
            <option>Outro</option>
          </select>
        </div>
      </div>
        <button (click)="salvarRegistro(email.value, senha.value, endereco, endereco_sec, cidade, estado)" type="button" class="btn btn-primary">Registre-se</button>
        <button style="margin-left: 20px; " type="reset" class="btn btn-secondary">Limpar</button>
    </form>
  </div>

  <div class="col-md-6" style="background-color:rgb(194, 190, 223)">
    <img [src]="url" alt="brasão Angular" style="height:400px; width:400px; margin: 100px; margin-bottom: 10px">

    <div *ngIf="status == true" class="row" style="margin-left: 40px">
        <div class="alert alert-success" role="alert" style="margin-top:none; margin:10px">
          ngIf Respondendo, simulação completa!
        </div>
          <a href="../outro.html"><button type="button" class="btn btn-danger btn-lg" style="margin-top:none; margin:10px">Prosseguir</button></a>
      </div>
</div>
