
<div class="container">
<div class="row">
  <div class="col-md-2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1000px-Angular_full_color_logo.svg.png"
    style="width:100px; height:100px">
  </div>
  <div class="col-md-6">
    <label style="font-weight:bold; font-size:20px; margin-top:30px;">Tabela Formada Com Diretiva ngFor</label>
  </div>
  </div>

<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas, let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.sobrenome}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
